$dark-grey: #4d4d4d;
$regular-grey: #7d7d7d;
$light-grey: #919191;

$light-blue: #4a8eb7;

:export {
    dark-grey: $dark-grey;
    regular-grey: $regular-grey;
    light-grey: $light-grey;
    light-blue: $light-blue;
}